.home-page{
    width: 100%;
    background: #f4f4f4;
}
.banner{
    height: 340px;
}
#banner-wrapper{
    background: #cccccc;
}
.home-page #banner-wrapper .slick-prev{
    background: blue;
    color: #000;
    left: 25px;
    width: 50px;
    height: 50px;
}
.home-page #banner-wrapper .slick-prev span{
    display: block;
    width: 50px;
    height: 50px;
}
.home-page #banner-wrapper .slick-next i{
    width: 50px;
    height: 50px;
    background: blue;
}
.home-page #banner-wrapper .slick-next{
    right: 25px;;
    width: 50px;
    height: 50px;
}
.commend-wrapper{
    min-height: 300px;
    border: 1px solid #DFDFDF;
    box-shadow: 0 0 5px #eee;
    background: #ffffff;
    margin-top: 20px;
}
.home-content_wrapper{
    margin: auto;
    width: 1080px;
    padding-bottom: 20px;
}
.home-content_wrapper .commend-title{
    border-left: 3px solid #108de8;
    padding-left: 10px;
}
