.travel-item-box{
    width: 1020px;
    margin: 20px auto;
    background: #ffffff;
    border: 2px solid #bee3e8;
    padding: 20px;
}
.travel-item-box h1{
    margin-bottom: 20px;
}
.favourable{
    font-size: 20px;
    color: #ff6600;
}
.travel-item-row{
    height: 350px;
}
.travel-item-box li{
    margin-bottom: 2px;
    word-spacing: 5px;
    letter-spacing: 3px;
    font-size: 14px;
}
.travel-item-row img{
    height: 300px;
    width: 460px;
}
.pay-box{
    border:1px solid #daeacf;
    padding: 10px;
    background: #f9fdf5;
    width: 400px;
    height: 120px;
}